<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|default("brnrd") }}</title>
    <link rel="stylesheet" href="{{ url_for('brnrd_static', path='app.css') }}?v={{ asset_version }}">
    {% if body_class == 'dashboard-page' %}
    <link rel="stylesheet" href="{{ url_for('brnrd_static', path='dashboard.css') }}?v={{ asset_version }}">
    {% endif %}
  </head>
  <body class="{{ body_class|default('app-page') }}">
    {% block body %}{% endblock %}
  </body>
</html>
