# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Local runtime state
.brr.local/

# Environment / editor settings
.env
.venv
.idea/
.vscode/

# MacOS
.DS_Store